html
  head
    title= title
  body
    h1= topic
    h2= date
    form(method="post", action="")
      label(for="newDiscussion") New Discussion
      input(type="text", name="newDiscussion", placeholder="Name of discussion")
      input(type="test", name="userNameField", value="Yaron", hidden)
      input(type="submit", name="btnSubmit", value="Create")
    ul
      for discussion in allDiscussions  
        h1 #{discussion.topic}
