html
  head
    title= title
  body
    h1= discussion
    form(name = "login", method="post", action="/users/login")
      label(for="username") Username
      input(type="text", name="username", placeholder="Username")
      br
      label(for="password") Username
      input(type="password", name="password", placeholder="Password")
      br
      input(type="submit", name="btnSend", value="Log in")