html
  head
    title= title
  body
    h1= register
    form(name = "register", method="post", action="/signup")
      label(for="username") Username
      input(type="text", name="username", placeholder="Username")
      br
      label(for="password") Password
      input(type="password", name="password", placeholder="Password")
      br
      input(type="submit", name="btnRegister", value="Registreer")
    h1= 'Log in'
    form(name = "login", method="post", action="/login")
      label(for="usernameLog") Username
      input(type="text", name="usernameLog", placeholder="Username")
      br
      label(for="passwordLog") Password
      input(type="password", name="passwordLog", placeholder="Password")
      br
      input(type="submit", name="btnLogin", value="Log in")