html
  head
    title 'IMD's Q&A App'
    style
      include ../../css/reset.css
      include ../../css/style.css
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script
      include ../../js/script.js
  body
    header.myHeader
      h1= 'Live Q&A app'
    h1= topic
    form(method="post", action="")
      input(type="text", name="locLat", id="locLat", hidden, value="")
      input(type="text", name="locLng", id="locLng", hidden, value="")
      label.newDis(for="newDiscussion") New Discussion 
      br
      input(type="text", name="newDiscussion", placeholder="Name of discussion")
      input(type="test", name="userNameField", value="Yaron", hidden)
      input(type="submit", name="btnSubmit", value="Create")
    ul#testje
      each discussion in allDiscussions
        a(href='/discussion/' + discussion._id) #{discussion.topic}