html
  head
    title 'IMD's Q&A App'
    style
      include ../../css/reset.css
      include ../../css/style.css
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
  body
    header.myHeader
      h1= 'Live Q&A app'
    div.qandaContainer
      form(method="", action="", id="formNewDiscussion")
        input(type="text", name="locLat", id="locLat", hidden, value="")
        input(type="text", name="locLng", id="locLng", hidden, value="")
        label.newDis(for="newDiscussion") New Discussion
        input(type="text", name="newDiscussion", placeholder="Name of discussion", id="newDiscussion",   class="bigInput textColor")
        input(type="test", name="userNameField", value="YaronTest", hidden)
        input(type="submit", name="btnSubmit", value="Create", id="btnCreateSubmit")
      ul#allDiscussions
        each discussion in allDiscussions
          a(href='/discussion/' + discussion._id) #{discussion.topic}
      script(src='http://localhost:3000/socket.io/socket.io.js')
      script
        include ../../js/script.js
