html
  head
    title= 'create discussion'
  body
    h1= 'Dit is de create pagina'
    form(method="post", action="")
      label(for="newDiscussion") New Discussion
      input(type="text", name="newDiscussion", placeholder="Name of discussion")
      input(type="submit", name="btnSubmit", value="Create")
    script
      include ../../js/script.js
    script(src='http://localhost:3000/socket.io/socket.io.js')
