html
  head
    title= topic
  body
    h1= topic
    form(method="post", action="")
      label(for="newQuestion") Ask a question
      input(type="text", name="newQuestion", placeholder="Ask away!")
      //input(type="submit", name="btnSubmit", value="Create")
