input[type="submit"] {
    background-color:$shiraz;
    color:$colorW;
    padding:10px;
    font-size:1.1em;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}