.imageBack {
    background-image:url(https://images.unsplash.com/photo-1458891216473-4f26bb4eb40e?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450);
    background-size:cover;
}

.myContainer {
    display:flex;
    align-content: center;
    justify-content: center;
    height:80vh;
}

#container {
    width:500px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

#container > form {
    margin:20px;
    background-color:rgba(255,255,255,0.8);
    padding:15px;
    border-radius:4px;
}

#container > form > h2 {
    font-weight:bold;
    text-align:center;
    text-transform: uppercase;
    font-size:1.2em;
}

#container > form > label {
    display:block;
    margin-bottom:5px;
}

#container > form > input {
    padding:10px 5px;
    font-size:1.1em;
    margin-bottom:5px;
}

#container > form > input[type=submit] {
   width:100%;
}

@media screen and (max-width: 500px) {
    #container {
    width:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
    
    .myContainer {
        display:flex;}
    
}

.bigInput {
    color: white;
    padding: 10px;
    font-size: 1.1em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#formNewDiscussion {
    margin:10px;
}

#btnCreateSubmit {
    margin-left:10px;
}

#formNewQuestion {
    margin:10px;
}

.labelBig__answer {
    margin:15px 15px 15px 15px;
    font-size:1.1em;
}

.bigInput__answer {
    color: white;
    padding: 5px;
    font-size: 1em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:300px;
}

.inputLeft {
    margin-left:10px;
}

.textColor {
    color:black;
}